<template name="Homepage">

  {{#ionView}}
    {{#ionContent}}
      {{> HomepageNews}}
      {{> HomepageMenu}}
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="HomepageNews">

  {{#if Template.subscriptionsReady}}
    {{#each articles}}
      {{#ionItem class="model" path="Articles" iconRight=true}}
        {{title}}
        {{> ionIcon icon="ios-arrow-right" class="assertive"}}
      {{/ionItem}}
    {{/each}}
  {{/if}}

</template>

<template name="HomepageMenu">

  {{#ionList class="homepage-menu"}}

    {{#ionItem class="articles" path="Articles" iconRight=true}}
      Articles {{> ionIcon icon="ios-arrow-forward" class="assertive"}}
    {{/ionItem}}

    {{#with currentUser}}
      {{#ionItem class="profile" path="Profile" _id=currentUser._id iconRight=true}}
        Profile {{> ionIcon icon="ios-arrow-forward" class="assertive"}}
      {{/ionItem}}
    {{/with}}
  {{/ionList}}

</template>
